* {
  margin: 0;
  padding: 0;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid black;
  padding-left: 10px;
  margin-left: 10px;
}

.name,
.age,
.hobby {
  font-size: 17px;
  font-weight: 700;
}
