* {
  margin: 0;
  padding: 0;
}
.title {
  width: 300px;
  font-weight: bold;
  font-size: 30px;
  border: 1px solid black;
  border-radius: 4px;
  background: yellow;
  display: block;
  text-align: center;
  margin-left: 10px;
}
